### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: philsf-likes-stats
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Homepage: <enter URL here; no default>
Build-Depends: debhelper (>= 7), germinate
Standards-Version: 3.9.4

Package: philsf-likes-stats
# Version: defaults to changelog version
# Maintainer: Felipe Figueiredo <philsf79@gmail.com>
# Pre-Depends: <comma-separated list of packages>
Depends: ${misc:Depends}
Recommends:
	default-jdk,
	emacs | emacs27 | emacs26 | emacs25 | emacs24,
	git | git-core,
	graphviz,
	philsf-likes-workstation,
	libcurl4-openssl-dev,
	libgit2-dev,
	libgsl-dev,
	libicu-dev,
	libmagick++-dev,
	librsvg2-dev,
	libssl-dev,
	libnode-dev | libv8-dev,
	libxml2-dev,
	libcairo2-dev,
	quarto,
	r-recommended,
	r-base,
	r-base-dev,
	rstudio,
	sqlite3,
	ubuntu-minimal,
	ubuntu-standard,
Suggests:
	aptitude,
	jupyter,
	libglpk-dev,
	libfribidi-dev,
	libharfbuzz-dev,
	mdbtools | mdbtools-dev,
	mysql-client,
	mysql-server,
	postgresql,
	pspp,
	unixodbc | unixodbc-dev,
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Biostatistics and Epidemiology Consultancy Environment
 A specialized toolkit tailored for statistical analysis and clinical research. This package provides the necessary system-level dependencies for a seamless R-based analysis workflow.
 .
 It is designed to ensure a stable, reproducible environment for R, satisfying the build requirements for CRAN packages.
